<div class="modal-header">
    <h5 class="modal-title">
        Add New Domain
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>
<div class="modal-body" style="min-height: 120px;">

    <div class="alert alert-danger" ng-if="errors.length > 0">
        <ul>
            <li ng-repeat="(key, value) in errors"><% value %></li>
        </ul>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form">
                <div class="form-group">
                    <label>Application Name <span class="font-red">*</span></label>
                    <input type="text" required class="form-control" autofocus ng-model="xero_account.name">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()" ng-if="isLoaded">
        Close
    </button>
    <button type="button" class="btn btn-primary" ng-if="isLoaded" ng-click="submit()">
        Save
    </button>
</div>
