<div class="m-portlet m-portlet--responsive-mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-technology m--font-brand"></i>
                </span>
                <h3 class="m-portlet__head-text m--font-brand">
                    List of Plans
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <div class="btn-group" role="group" >
                <button type="button" class="m-btn btn btn-default btn-condensed" ng-click="showListOfPlanItems()">
                    <i class="la la-th-list"></i>
                    Plan Items Catalog
                </button>
            </div>
            <div class="btn-group" role="group" >
                <button type="button" class="m-btn btn btn-primary btn-condensed" ng-click="createNewPlanForm()">
                    <i class="la la-plus-square-o"></i>
                    Create New Plan
                </button>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">

        <div class="row">
            <div class="col-md-4">
                <div class="">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..."  ng-model="pagination.search">
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-condensed" type="button" ng-click="doSearch()">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="pull-right">
                    <!-- <button class="btn btn-default active"><span class="fa fa-search"></span> Search</button>
                    <button class="btn btn-default"><span class="fa fa-image"></span> Images</button>
                    <button class="btn btn-default"><span class="fa fa-map-marker"></span> Maps</button>
                    <button class="btn btn-default"><span class="fa fa-camera"></span> Video</button> -->
                    View 
                    <div class="btn-group">
                        
                        <select class="form-control" ng-model="pagination.itemsPerPage" select-picker ng-change="setItemsPerPage(pagination.itemsPerPage)">
                            <option ng-value="10">10</option>
                            <option ng-value="25">25</option>
                            <option ng-value="50">50</option>
                            <option ng-value="100">100</option>
                        </select>
                        
                    </div>
                    records | Total Found <% pagination.totalItems %> records
                </div>
            </div>
        </div>

        <hr>
        <div class="zui-wrapper">
            <div class="zui-scroller">
                <table class="table table-bordered table-striped table-condensed zui-table">
                    <thead>
                        <tr>
                            <th class="zui-sticky-col">ID</th> 
                            <th>Name</th> 
                            <th>Slug</th> 
                            <th>Amount</th>
                            <th>Interval</th> 
                            <th>Actions</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="pagination.objects.length <= 0 && isLoaded">
                            <td colspan="6" align="center">No Results Found.</td>
                        </tr>
                        <tr ng-repeat="obj in pagination.objects">
                            <td class="zui-sticky-col"><% obj.id %></td>
                            <td><% obj.receipt %></td>
                            <td><% obj.email %></td>
                            <td><% obj.trans_type %></td>
                            <td><% obj.total_amount %></td>
                            <td><% obj.product_id %></td>
                            <td><% obj.product_name %></td>
                            <td><% obj.affiliate }}</td>
                            <td><% obj.processed_to_ga %></td>
                            <td><% obj.processed_to_fb %></td>
                            <td><% obj.created_at %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div style="position: relative; height: 30px; margin-bottom: 30px;" class="dataTables_wrapper">
                    <div class="dataTables_pager">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
