.vdp-datepicker input.form-control {
    margin: 0 !important;
    height: 45px;
    background: white;
    color: #333 !important;
}
.result-area {
    margin-top: 30px;
    width: 105%;
}

.srch-card .drop-blk {
    padding-left: 10%;
}
.srch-card .pick-blk {
    width: 25%; 
}
.srch-card .fare-st-blk {
    padding-left: 0;
}
@media only screen and (max-width: 1200px) {
    .sort-bar {
        width: 100%;
    }
}
.v-select {
    background: white;
}
.seatchart {
    padding: 15px 0 0 0;
    width: 800px;
}

.sc-pt.left, .sc-pass-det, .sc-info-det {
    width: 70%;
}
.bus-modal {
    max-width: 100%;
    overflow: auto !important;
}
input.gender {
    margin-right: 5px;
}
.listing {
    max-height: 500px;
    overflow: auto;
}
.banner-item {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15%;
}
.caption {
    position: initial;
   
}
.VueCarousel-dot-container {
    position: relative;
    top: -60px;
    margin-top: 0 !important;
}
.avatar img {
    border-radius: 50%;
}
.avatar {
    text-align: center;
}
.avatar  h4 {
    margin-top: 10px;
}
.deck-wheels {
    left: 15px;
}
.sc-mid.left {
    padding-left: 60px;
}
.seat {
    width: 40px;
    height: 20px;
    
    margin-right: 5px;
    margin-bottom: 5px;
}
.seat::before {
    content: "\00a0";
    width: 4px;
    float: right;
    height: 14px;
    margin-top: 2px;
    background: red;
}
.seat-normal::before {
    background: green;
}

.seat-s-normal {
    border: solid 1px red;
}
.seat-normal {
    border: solid 1px red;
}
.seat-normal-selected {
    background: url('../images/seat/Normal-selected.png') no-repeat 50% 50%;
    background-size: 100% 100%;
}
.seat-table th {
    width: 30px;
}
.seat-table td {
    border: 4px solid white;
    text-align: center;
    height: 24px;
}
.bg-red {
    background: red;
    height: 100%;
}
.bus-loading {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}
.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    background: #f15a22;
    color: white;
}