@charset "utf-8";
.bg{
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}
.bubblingG  {

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.bubblingG img{
    margin-bottom:40px;
}
.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    margin: 28px auto;
    background: #f39200;
    -moz-border-radius: 57px;
    -moz-animation: bubblingG 1.3s infinite alternate;
    -webkit-border-radius: 57px;
    -webkit-animation: bubblingG 1.3s infinite alternate;
    -ms-border-radius: 57px;
    -ms-animation: bubblingG 1.3s infinite alternate;
    -o-border-radius: 57px;
    -o-animation: bubblingG 1.3s infinite alternate;
    border-radius: 57px;
    animation: bubblingG 1.3s infinite alternate;;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -moz-transform: translateY(0);
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFFFFF;
        -moz-transform: translateY(-24px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFFFFF;
        -webkit-transform: translateY(-24px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -ms-transform: translateY(0);
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFFFFF;
        -ms-transform: translateY(-24px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -o-transform: translateY(0);
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFFFFF;
        -o-transform: translateY(-24px);
    }
}

@keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        transform: translateY(0);
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFFFFF;
        transform: translateY(-24px);
    }
}
.summary-page	{height:100%;}
.datacard .text-sec a, .sidenav a, .t-c-text a.book, .text-sec a, .wallet .text-sec a {
    text-decoration: none
}

.input__field:focus, div.cs-select:focus {
    outline: 0
}

.input__label, div.cs-select {
    -webkit-touch-callout: none;
    -khtml-user-select: none
}

.bg {
    background-color: #fff;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 999999
}

.bubblingG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.bubblingG img {
    margin-bottom: 40px
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    margin: 28px auto;
    background: #f39200;
    -moz-border-radius: 57px;
    -moz-animation: bubblingG 1.3s infinite alternate;
    -webkit-border-radius: 57px;
    -webkit-animation: bubblingG 1.3s infinite alternate;
    -ms-border-radius: 57px;
    -ms-animation: bubblingG 1.3s infinite alternate;
    -o-border-radius: 57px;
    -o-animation: bubblingG 1.3s infinite alternate;
    border-radius: 57px;
    animation: bubblingG 1.3s infinite alternate
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s
}

#bubblingG_2 {
    -moz-animation-delay: .39s;
    -webkit-animation-delay: .39s;
    -ms-animation-delay: .39s;
    -o-animation-delay: .39s;
    animation-delay: .39s
}

#bubblingG_3 {
    -moz-animation-delay: .78s;
    -webkit-animation-delay: .78s;
    -ms-animation-delay: .78s;
    -o-animation-delay: .78s;
    animation-delay: .78s
}

@-moz-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -moz-transform: translateY(0)
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFF;
        -moz-transform: translateY(-24px)
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -webkit-transform: translateY(0)
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFF;
        -webkit-transform: translateY(-24px)
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -ms-transform: translateY(0)
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFF;
        -ms-transform: translateY(-24px)
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        -o-transform: translateY(0)
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFF;
        -o-transform: translateY(-24px)
    }
}

@keyframes bubblingG {
    0% {
        width: 11px;
        height: 11px;
        background-color: #f39200;
        transform: translateY(0)
    }
    100% {
        width: 27px;
        height: 27px;
        background-color: #FFF;
        transform: translateY(-24px)
    }
}

.sidenav {
    height: 100%;
    width: 550px;
    z-index: 55;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
    display: none
}

.sidenav img {
    display: inline-block
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: .3s
}

.offcanvas a:focus, .sidenav a:hover {
    color: #f1f1f1
}

.sidenav .information:nth-child(4) {
    z-index: 100
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #c7c7c7 !important
}

.sidenav h5 {
    font-size: 20px;
    color: #006aaf;
    font-weight: 600;
    text-align: left;
    margin-top: 30px;
    padding-left: 20px
}

.sidenav .plan, .sidenav .plan h4, .sidenav .plan1 p, .sidenav .plan1 span {
    color: #444;
    font-size: 13px
}

.sidenav .information {
    z-index: 111;
    padding-left: 10px;
    padding-right: 0
}

ul.nav .cs-select {
    width: 150px !important
}

.sidenav .information input {
    border: 1px solid #cfd1d0;
    border-radius: 6px;
    height: 44px
}

.sidenav .information span {
    font-weight: 300;
    font-size: 14px
}

.sidenav .information div.cs-select {
    text-transform: capitalize;
    z-index: 0 !important
}

.sidenav .plan h4, .text-sec a, .text-sec h4, .text-sec p, ul.nav .cs-select {
    text-transform: uppercase
}

.sidenav .plan {
    text-align: left;
    padding-left: 20px;
    margin-top: 5%;
    font-weight: 700;
    position: relative
}

.sidenav .plan h4 {
    padding-left: 10px;
    display: inline-block;
    font-weight: 700
}

.sidenav .plan-border {
    border-bottom: 1px solid #ebebeb;
    margin-top: 10px
}

.sidenav .plan1 span {
    padding-left: 11px;
    display: inline-block;
    text-align: left;
    margin-top: 30px;
    font-weight: 300
}

.sidenav .plan1 span i {
    font-weight: 300;
    padding-right: 5px
}

.sidenav .plan1 p {
    font-weight: 300;
    margin-top: 12px;
    padding-left: 10px;
    display: inline-block
}

.plan .plan-button {
    margin-top: 25px;
    border: 1px solid #006bb1;
    border-radius: 10px;
    background-color: transparent;
    color: #006aaf;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    right: 55px;
    transition: all .4s ease-in-out
}

.plan .plan-button:hover {
    background-color: #006bb1;
    color: #fff
}

.sidenav .plan1 span:nth-child(2) {
    padding-left: 91px
}

.sidenav .plan1 span:nth-child(3) {
    padding-left: 70px
}

.sidenav .plan h4:nth-child(2), .sidenav .plan h4:nth-child(3) {
    padding-left: 50px
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px
    }

    .sidenav a {
        font-size: 18px
    }
}

.toggle {
    font-size: 40px;
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 10%
}

@media (min-width: 320px) and (max-width: 767px) {
    .sidenav {
        width: 100%
    }

    .sidenav h5 {
        font-size: 16px
    }

    .sidenav .information {
        width: 50%
    }

    .sidenav .information div.cs-select {
        padding-left: 0
    }

    .sidenav .plan {
        padding: 0 10px
    }

    .sidenav .plan1 span:nth-child(2) {
        padding-left: 81px
    }

    .plan .plan-button {
        position: relative;
        right: -10px
    }

    .sidenav .plan1 p {
        font-size: 11px;
        display: block
    }
}

@media (min-width: 581px) and (max-width: 767px) {
    .sidenav .information {
        width: 33%
    }
}

.image {
    margin-top: 5px
}

.navbar {
    position: absolute !important;
    width: 100% !important;
    background-color: #fff !important
}

.order-page .navbar {
    position: relative !important;
    width: auto !important
}

.manu {
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin-top: 5px !important
}

ul.manu li a {
    border: 2px solid #fff;
    color: #444 !important
}

ul.manu li a span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 26px
}

.heading h2, ul.manu li a span.flaticon-apple-tv {
    font-size: 34px
}

ul.manu li a.active, ul.manu li a:hover {
    background-color: #f3f3f3 !important;
    border-radius: 7px
}

a.sign-button, ul.manu a.login-button {
    background-color: #08b3f9;
    color: #fff
}

ul.manu a.sign-button i {
    padding-right: 5px
}

a.login-button {
    padding: 7px 20px !important
}

a.sign-button {
    padding: 7px 15px;
    transition: all .3s;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 300;
    border-radius: 10px
}

.slider {
    background-image: url(img/slider-img.jpg);
    background-size: cover;
    padding-top: 20px
}

.heading {
    height: 100vh;
    padding-top: 100px;
    min-height: 625px
}

.heading span {
    font-weight: 700;
    padding-right: 15px
}

.heading h2 {
    color: #fff;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 0
}

input[type=radio] {
    display: none
}

input[type=radio] + span {
    background-color: #fefefe;
    border: 1px solid;
    border-color: #ccc #fff #fff #ccc;
    border-radius: 50px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 5px;
    position: relative;
    -webkit-appearance: none;
    margin-top: 4px
}

.information, label {
    padding-top: 10px
}

input[type=radio]:checked + span {
    color: red
}

input[type=radio]:checked + span:after {
    background: #fe8c0f;
    border-radius: 50px;
    content: " ";
    height: 8px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 8px
}

label:hover input[type=radio] + span {
    border-color: #fe8c0f
}

.information select {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none
}

.information span, input {
    border-radius: 6px;
    padding: 12px 15px;
    color: #717171
}

.information span {
    font-size: 14px;
    background-color: #fff;
    font-weight: 400
}

input {
    border: none;
    width: 100%
}

.carousel-caption {
    text-shadow: none !important
}

.view-button {
    padding-top: 20px
}

.view-button button {
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    margin-left: 15px;
    transition: all .3s;
    font-weight: 700
}

.view-button button:hover {
    background-color: #f39200;
    border-color: #f39200
}

.view-button button:nth-child(2) {
    background: -moz-linear-gradient(to right top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1));
    background: -webkit-linear-gradient(to right top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1));
    background: linear-gradient(to right top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1));
    border: none;
    padding: 12px 30px
}

.view-button button:nth-child(2):hover {
    background: #f39200
}

.text-sec {
    margin-top: 5px;
    position: relative;
    left: auto !important;
    right: auto !important;
    top: 0 !important
}

.slider-image img {
    display: inline-block;
    width: 50%
}

.bus .slider-image img, .dth .slider-image img {
    width: 70%
}

.wallet .slider-image img {
    width: 46%
}

.text-sec h4 {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    line-height: 1.3
}

.text-sec p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px
}

.text-sec h6 {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
    cursor: pointer
}

.text-sec a {
    font-size: 14px;
    color: #fff;
    background-color: #08b3f9;
    padding: 9px 25px;
    font-weight: 700;
    border-radius: 10px;
    transition: all .4s;
    display: inline-block
}

.padd-70 {
    margin-top: 30px
}

div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cs-select select {
    display: none
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.cs-select > span {
    padding-right: 30px;
    border: 1px solid #cfd1d0
}

.cs-select .cs-selected span::after, .cs-select > span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cs-select > span::after {
    font-family: FontAwesome;
    content: "\f078";
    right: 1em
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

div.cs-active {
    z-index: 200
}

.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
    border: 1px solid #cfd1d0
}

.bus, .landline {
    background-size: cover
}

.cs-select.cs-active .cs-options {
    visibility: visible
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto
}

.cs-select ul span {
    padding: 8px 15px
}

.cs-select ul li.cs-focus span {
    background-color: #ddd
}

.cs-select li.cs-optgroup ul {
    padding-left: 1em
}

.cs-select li.cs-optgroup > span {
    cursor: default
}

.bus {
    background-image: url(../img/bus-bg.jpg)
}

.bus .view-button button {
    background-color: #006aaf;
    border: 2px solid #006aaf
}

.bus .view-button button:hover, .datacard .view-button button:nth-child(2):hover {
    background-color: transparent
}

.bus .text-sec h4 {
    margin-top: 68px
}

.bus .slider-image img {
    margin-top: 40px
}

.landline {
    background-image: url(../img/landline-bg.jpg)
}

.landline .view-button button {
    padding-left: 70px;
    padding-right: 70px;
    background: -moz-linear-gradient(to top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1))
}

.modal-body {
    padding: 0 !important
}

.modal-body .col-sm-5 {
    padding: 0
}

.modal-body .col-sm-7 {
    padding: 40px 40px 0
}

.modal-body button.close {
    right: 20px;
    top: 12px;
    font-size: 48px;
    position: absolute;
    z-index: 55
}

.form-sec ul {
    display: inline-block;
    margin-bottom: 15px
}

.form-sec ul.nav-tabs > li.active > a {
    background-color: #f39200;
    color: #fff
}

.form-sec ul.nav-tabs > li > a {
    border: 2px solid #f39200;
    color: #444;
    margin-right: -8px;
    border-radius: 6px
}

.form-sec h2 {
    font-size: 22px;
    font-weight: 700;
    color: #444;
    text-align: left
}

.form-sec p {
    font-size: 15px;
    font-weight: 200;
    color: #444;
    text-align: left
}

.input-row {
    position: relative
}

.input-row img {
    position: absolute;
    left: 0;
    bottom: 25px
}

.input-row input {
    padding-left: 40px;
    background-color: transparent;
    border-bottom: 2px solid #f1f1f1;
    border-radius: 0;
    margin-bottom: 15px
}

.forgot-row a {
    font-size: 13px;
    color: #006aaf;
    font-weight: 200
}

.privacy-sec input {
    width: auto;
    float: left;
    margin-right: 15px
}

.privacy-sec label {
    float: left;
    font-size: 13px;
    color: #444;
    font-weight: 200;
    padding-top: 3px
}

.button a {
    display: block;
    background-color: #006aaf;
    font-size: 16px;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 20px
}

.order-body ul, .payment-img img, .summary-img img, .summary1-page .order .col-sm-3 a, .t-c-text a.book, .wallet .information {
    display: inline-block
}

.button a img {
    vertical-align: bottom;
    margin-right: 5px
}

.datacard {
    background-image: url(../img/datacard.jpg);
    background-size: cover
}

.datacard .view-button button:nth-child(2) {
    background: #006aaf;
    border: 2px solid #006aaf;
    padding: 10px 30px
}

.dth, .wallet {
    background-size: cover
}

.input-sec input::-webkit-input-placeholder {
    color: #ccc !important
}

.dth {
    background-image: url(../img/DTH.jpg);
    padding-bottom: 10px
}

@media (min-width: 320px) and (max-width: 480px) {
    .datacard h2, .dth h2 {
        font-size: 30px
    }

    .view-button button {
        margin: 0 50px
    }
}

.wallet {
    background-image: url(../img/wallet.jpg);
    padding-bottom: 40px
}

.wallet i {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    text-transform: capitalize
}

.wallet p.wallet-p {
    color: #fff;
    font-weight: 300;
    font-size: 15px
}

.wallet .view-button button:nth-child(1) {
    background: -moz-linear-gradient(to right top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1));
    padding: 12px 30px
}

.wallet .view-button button:nth-child(1):hover {
    background: #f39200
}

.modal.in .modal-dialog {
    transform: translate(0, 30%) !important
}

.summary-page {
    background-color: #ebebeb;
    padding: 150px 0 50px;
    height: 100vh
}

.summary1-page {
    background-color: #fff;
    padding: 50px
}

.summary1-page .col-sm-3 {
    padding: 0
}

.summary1-page .col-sm-9 {
    padding-right: 0
}

.order h2 {
    font-size: 22px;
    color: #444;
    font-weight: 700;
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px
}

.order p {
    font-size: 15px;
    color: #444;
    font-weight: 300;
    margin-bottom: 40px
}

.order h4 {
    font-size: 18px;
    color: #444;
    font-weight: 700
}

.summary1-page .order .col-sm-3 a {
    padding: 10px 20px;
    background: -moz-linear-gradient(to right top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1));
    background: -webkit-linear-gradient(to right top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1));
    background: linear-gradient(to right top, rgba(203, 110, 0, 1) 0, rgba(203, 110, 0, 1) 25%, rgba(243, 146, 0, 1) 60%, rgba(243, 146, 0, 1));
    border-radius: 10px;
    color: #fff
}

.order .col-sm-9 {
    padding-left: 0
}

.order .privacy-sec label {
    font-size: 13px;
    color: #444;
    font-weight: 300;
    padding-top: 1px
}

.order .col-sm-6.cashback p {
    margin-bottom: 15px
}

.order .col-sm-6 {
    padding-left: 0 !important
}

.order-page {
    background-color: #ebebeb
}

.order-page .main-footer {
    position: relative;
    margin-top: 50px
}

.order-head {
    padding: 40px 0 130px;
    background: linear-gradient(to bottom, #006aaf 0, #006aaf 25%, #006aaf 50%, #003f69 100%);
    background: -moz-linear-gradient(to bottom, #006aaf 0, #006aaf 25%, #006aaf 50%, #003f69 100%);
    background: -webkit-linear-gradient(to bottom, #006aaf 0, #006aaf 25%, #006aaf 50%, #003f69 100%)
}

.walet-sec img {
    float: left;
    margin-right: 15px
}

.walet-sec h2 {
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
    font-size: 36px;
    margin-bottom: 0
}

.input-sec p, .walet-sec p {
    font-weight: 300;
    color: #fff
}

.walet-sec p {
    font-size: 15px
}

.input-sec {
    padding-top: 10px
}

.input-sec input {
    width: 100%;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    padding-left: 0
}

.input-sec p {
    font-size: 13px;
    margin-top: 5px
}

.input-sec p a {
    color: #fff
}

.order-head .view-button button {
    width: 100%;
    padding: 15px 30px
}

.order-page .order-sec {
    background-color: #fff;
    padding: 50px 0;
    margin-top: -90px
}

.order-top {
    margin-bottom: 40px
}

.ul-border {
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 30px
}

.ul-border ul {
    border-bottom: none
}

.ul-border ul li {
    margin-bottom: -6px
}

.ul-border ul li a:hover, .ul-border ul li.active a {
    border-top: none;
    border-right: none;
    border-left: none;
    color: #f39200
}

.ul-border ul li a {
    border: none;
    color: #444;
    transition: all .2s;
    font-weight: 700
}

.ul-border ul li.active a {
    border-bottom: 2px solid #f39200
}

.order-body .tab-content {
    padding: 0 20px
}

.order-table table {
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    color: #444
}

.order-table table th {
    background-color: #ebebeb;
    padding: 10px 0 10px 15px
}

.order-table table tr td {
    text-align: left;
    padding: 15px 0 15px 15px;
    vertical-align: text-top;
    border-bottom: 1px solid #ebebeb
}

.order-table table tr td:first-child {
    padding-left: 0
}

.order-table table tr td.status-gr {
    color: #82c009
}

.order-table table tr td.status-rd {
    color: #c60101
}

.order-table table tr td img {
    float: left
}

.order-footer a.sign-button {
    padding: 18px 25px;
    border: 2px solid #444 !important;
    margin-top: 35px
}

.order-table table tr td:last-child a {
    display: inline-block;
    margin-top: 8px
}

@media (min-width: 320px) and (max-width: 1024px) {
    .order-table {
        overflow: auto
    }

    .order-table table {
        width: 1000px
    }
}

.padding {
    padding: 70px 0
}

.account .payment {
    background-color: #f7f7f7;
    border-bottom: 15px solid #f39200;
    min-height: 1331px
}

.payment-img {
    padding: 60px 30px;
    border-bottom: 6px solid #f39200
}

.payment-body h1 {
    font-size: 30px;
    color: #444;
    font-weight: 600;
    margin-top: 0
}

.payment-body h6 {
    font-size: 20px;
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px
}

.payment-body p {
    font-size: 20px;
    color: #444;
    font-weight: 300
}

.recharge-head h5 {
    font-size: 22px;
    font-weight: 700;
    color: #444;
    text-transform: capitalize
}

.recharge-head p {
    font-size: 15px;
    color: #444;
    font-weight: 300;
    line-height: 1.7
}

.recharge-head {
    padding: 60px 0
}

.recharge-head .col-sm-5 {
    border-left: 3px solid #f7f7f7;
    height: 130px
}

.recharge .col-xs-3 {
    height: 6px
}

.recharge .col-xs-3.bor-1 {
    background-color: #005289
}

.recharge .col-xs-3.bor-2 {
    background-color: #1c75b0
}

.recharge .col-xs-3.bor-3 {
    background-color: #50a3d8
}

.recharge .col-xs-3.bor-4 {
    background-color: #acd7f3
}

.payment-body, .recharge-body {
    padding: 40px
}

.recharge-body h2 {
    font-size: 36px;
    color: #444;
    font-weight: 300;
    margin-top: 0
}

.recharge-body .order-table, .recharge-det {
    margin-top: 60px
}

.recharge-det h4 {
    font-size: 23px;
    color: #444;
    font-weight: 600
}

.recharge-det.text-left h4 {
    font-weight: 300
}

.recharge-body .order-table table {
    font-size: 16px;
    font-weight: 300
}

.recharge-body .order-table th {
    background-color: transparent;
    border-bottom: 4px solid #e8e8e8;
    padding-left: 0
}

.recharge-body .order-table td {
    padding-left: 0
}

.recharge-body .order-table.pull-right {
    border-bottom: 6px solid #f39200;
    margin-bottom: 60px
}

.recharge-body .order-table.pull-right table td {
    border: none;
    padding: 5px 0
}

.recharge-body .order-table.pull-right table tr:last-child {
    font-size: 23px
}

.recharge-body .order-table.pull-right table tr:last-child td {
    padding: 10px 0
}

.notes h3 {
    font-size: 18px;
    font-weight: 700;
    color: #444;
    margin-bottom: 15px
}

.notes p {
    font-weight: 300;
    font-size: 15px;
    color: #444
}

.notes p i {
    color: #f39200;
    margin-right: 5px;
    font-size: 18px
}

.recharge h2.thank {
    font-size: 30px;
    font-style: italic;
    color: #f39200;
    font-weight: 700;
    margin: 40px 0 0
}

@media (min-width: 320px) and (max-width: 767px) {
    .account .payment {
        min-height: inherit
    }

    .payment-body, .recharge-body {
        padding: 40px 15px
    }

    .payment-body h1, .recharge h2.thank, .recharge-body h2 {
        font-size: 24px
    }

    .payment-body h6, .payment-body p {
        font-size: 16px
    }

    .recharge-det h4 {
        font-size: 14px
    }

    .recharge-body .col-xs-5 {
        padding-left: 0
    }

    .order-table.col-sm-6 {
        padding: 0;
        width: 200px
    }

    .order-table.col-sm-6 table tr td {
        width: 50%
    }

    .order-table.col-sm-6 table {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .account .payment {
        min-height: inherit
    }

    .order-table.col-sm-6 table {
        width: 100%
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .order-table.col-sm-6 table {
        width: 100%
    }

    .recharge-body h2 {
        font-size: 35px
    }

    .notes p {
        font-size: 13px
    }

    .account .payment {
        min-height: 1327px
    }
}

.t-c-head h2, .t-c-text .order-table table {
    font-size: 15px
}

.t-c-head {
    border-bottom: 1px solid #ededed;
    padding: 40px 0 10px;
    margin-bottom: 10px
}

.t-c-head h2 {
    font-weight: 600;
    color: #444;
    margin-top: 10px
}

.t-c-head h2 b {
    font-weight: 300
}

.t-c-text .order-table table td {
    border: none;
    padding: 6px 0
}

.t-c-text .order-table table tr td.text-right {
    text-align: right
}

.t-c-text a.book {
    background-color: #08b3f9;
    border: 2px solid #08b3f9;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 80px;
    text-transform: uppercase;
    transition: all .4s ease 0s;
    margin: 25px 0 40px
}

.invoice-top h2, .invoice-top p {
    text-transform: uppercase;
    margin-bottom: 0
}

.t-c-text a.book:hover {
    background-color: transparent;
    color: #08b3f9
}

@media (min-width: 320px) and (max-width: 480px) {
    .t-c-head h2 {
        font-size: 14px;
        line-height: 1.4
    }

    .order-table table {
        width: auto;
        min-width: 400px
    }

    .t-c-text a.book {
        padding: 14px 60px
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .t-c-head h2 {
        font-size: 14px;
        line-height: 1.4
    }

    .order-table table {
        width: 100%
    }

    .t-c-text a.book {
        padding: 14px 60px
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .order-table table {
        width: 100%
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .heading {
        padding-top: 170px
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .navbar-brand {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

#myModal111 .modal-dialog {
    width: 450px
}

#myModal111 .modal-body button.close {
    font-size: 26px
}

.blog-social {
    display: block;
    margin-left: 20px;
    position: fixed;
    z-index: 562;
    right: 50px;
    bottom: 50px
}

.blog-social ul {
    list-style: none;
    padding-left: 0;
    display: block
}

.blog-social ul li a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    transition: delay .3s;
    background-color: #f39200
}

.blog-social ul ul li {
    float: none;
    position: relative;
    z-index: 5;
    margin-right: 10px
}

.blog-social ul ul {
    display: none;
    position: absolute
}

.blog-social ul li:hover > ul {
    display: block;
    top: -300px
}

.blog-social ul ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    color: #fff;
    width: 50px;
    line-height: 50px;
    transition: all .3s;
    margin-top: 10px
}

.blog-social ul ul li a.fb {
    background-color: #4867AA
}

.blog-social ul ul li a.twi {
    background-color: #1DA1F2
}

.blog-social ul ul li a.insta {
    background-color: #E4102D
}

.blog-social ul ul li a.linked {
    background-color: #007BB6
}

.blog-social ul ul li a.pint {
    background-color: #BD081C
}

.invoice-bg {
    background-image: url(../img/invoice-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    overflow-x: hidden
}

.invoice-bg .invoice-inner {
    padding: 30px 0 10px
}

.invoice-inner {
    position: relative;
    background-color: #fff
}

.invoice-inner:after, .invoice-inner:before {
    position: absolute;
    width: 100%;
    height: 32px;
    left: 0;
    content: ''
}

.invoice-inner:before {
    background-image: url(../img/top.png);
    top: -24px
}

.invoice-inner:after {
    background-image: url(../img/bottom.png);
    bottom: -24px
}

.invoice-head img, .invoice-top img {
    display: inline-block
}

.invoice-top {
    position: relative;
    padding: 20px 0 50px;
    margin-top: 30px
}

.invoice-top h2 {
    font-size: 64px;
    font-weight: 500;
    color: #006ab3;
    margin-top: 10px
}

.invoice-top p {
    font-weight: 300;
    font-size: 30px;
    color: #FF9300
}

.invoice-bg .recharge-detail {
    padding: 0 30px 30px
}

.recharge-detail h2 {
    font-weight: 700;
    font-size: 22px;
    color: #444;
    padding-bottom: 15px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 30px
}

.detail-list {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    position: relative
}

.detail-list-tit {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 55%
}

.detail-list-tit p {
    background-color: #fff;
    display: inline-block;
    flex: 1 0 auto;
    padding-right: 3px;
    position: relative;
    z-index: 5;
    font-size: 18px;
    color: #444;
    font-weight: 700
}

.detail-list-right, .detail-list-right h5 {
    font-size: 15px;
    color: #444;
    font-weight: 300
}

.detail-list-tit p img {
    margin-right: 15px
}

.detail-list-tit span.dots {
    background-image: radial-gradient(circle closest-side, #383c50 99%, transparent 1%);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 6px 3px;
    border: 0;
    bottom: 11px;
    display: block;
    height: 3px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 1
}

.detail-list-right {
    align-items: baseline;
    display: flex;
    margin-left: 5px;
    position: relative;
    z-index: 5
}

.input, .mail-text p, .main-footer p, .main-footer ul, .main-footer ul li a, .ser-col img {
    display: inline-block
}

.thank-sec h2, .thank-sec p {
    font-size: 30px;
    font-style: italic
}

.thank-sec {
    background-color: #00263e
}

.invoice-bg .thank-sec {
    padding: 15px
}

.border, .mail-temp .invoice-head {
    padding: 25px 0
}

.border {
    border: 3px dashed #001f34
}

.thank-sec h2 {
    color: #fff;
    margin-top: 0;
    font-weight: 700
}

.mail-text h2 b, .mail-text p, .thank-sec p {
    font-weight: 300
}

.thank-sec p {
    color: #f39200;
    margin-bottom: 0
}

.mail-head {
    position: relative
}

.mail-head img {
    width: 100%
}

.mail-text {
    position: absolute;
    top: 120px;
    width: 60%;
    left: 20%
}

.mail-text h2 {
    font-size: 58px;
    color: #fff;
    margin-top: 0
}

.mail-text p {
    color: #fff;
    font-size: 18px;
    max-width: 80%;
    line-height: 1.5;
    margin-bottom: 30px
}

.ser-col h2, .service h1 {
    font-weight: 700;
    color: #333
}

.banner-text a, .mail-text a {
    display: inline-block;
    padding: 13px 44px;
    border-radius: 8px;
    border: 2px solid #006aaf;
    transition: all .3s
}

.banner-text a.log, .mail-text a {
    background-color: #006aaf;
    color: #fff;
    margin-right: 10px
}

.banner-text a.log:hover, .mail-text a:hover {
    background-color: transparent;
    color: #fff
}

.service {
    padding: 80px 0
}

.service h1 {
    font-size: 55px;
    margin-top: 0
}

.ser-col {
    margin-top: 60px;
    min-height: 370px !important
}

.ser-col h2 {
    font-size: 25px;
    margin: 35px 0 25px
}

.ser-col p {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 1.7
}



.banner-text {
    padding-top: 180px
}

.banner-text h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 20px
}

.footer p, .main-footer p, .main-footer ul li a {
    color: #fff;
    font-weight: 300
}

.footer {
    background-color: #00263e;
    padding: 25px 0
}

.footer p {
    margin-bottom: 0;
    font-size: 16px
}

.main-footer {
    background-color: rgba(0, 38, 62, .6);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 0
}

.main-footer p {
    float: left;
    font-size: 13px;
    margin-bottom: 0
}

.main-footer ul {
    list-style: none;
    padding-left: 0;
    float: right;
    margin-bottom: 0
}

.main-footer ul li {
    position: relative;
    float: left;
    font-size: 12px
}

.main-footer ul li:last-child a {
    padding-right: 0
}

.main-footer ul li a {
    font-size: 12px;
    padding: 0 10px;
    transition: all .2s
}

.input__field, .input__label {
    float: right;
    font-weight: 700
}

.main-footer ul li a i {
    font-size: 12px;
    margin-right: 3px
}

.main-footer ul li a:hover {
    text-decoration: underline
}

.input {
    position: relative;
    z-index: 1;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top
}

.input__field {
    position: relative;
    display: block;
    padding: .8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none
}

.input__label {
    display: inline-block;
    padding: 0 1em;
    width: 40%;
    color: #fff;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%
}

.input--hoshi {
    overflow: hidden
}

.input__field--hoshi {
    margin-top: 12px;
    padding: .85em .15em;
    width: 100%;
    background: 0 0;
    color: #fff
}

.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 .25em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none
}

.input__label-content--hoshi {
    position: absolute
}

.input__label--hoshi::after, .input__label--hoshi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA
}

.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 4px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.input--filled .input__label--hoshi::after, .input__field--hoshi:focus + .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.input--filled .input__label-content--hoshi, .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi {
    -webkit-animation: anim-1 .3s forwards;
    animation: anim-1 .3s forwards
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0)
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0)
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0)
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0)
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar {
        position: relative !important
    }

    .heading {
        height: auto;
        padding-top: 50px
    }

    .heading h2 {
        font-size: 30px
    }

    .text-sec img {
        margin-top: 35px
    }

    .text-sec h4 {
        font-size: 26px
    }

    .view-button button:nth-child(2) {
        margin-top: 15px
    }

    .navbar-header a {
        width: 80%;
        margin-top: 8px
    }

    .carousel-caption {
        padding-bottom: 0 !important
    }

    .modal.in .modal-dialog {
        transform: translate(0, 0) !important
    }

    .order h2 {
        font-size: 20px;
        padding-top: 10px
    }

    .order h4 {
        font-size: 16px
    }

    .order p {
        font-size: 14px
    }

    .summary1-page {
        padding: 50px 15px;
        top: -20px
    }

    .order .col-sm-3 a {
        margin-bottom: 30px;
        margin-top: 0
    }

    .summary-page {
        height: 100%
    }

    .blog-social ul li a, .blog-social ul ul li a {
        line-height: 40px;
        width: 40px;
        height: 40px
    }

    .ul-border ul li a {
        font-size: 13px;
        min-height: 41px
    }

    .order-head .view-button button {
        margin-left: 0 !important
    }

    .blog-social {
        right: 10px;
        bottom: 15px
    }

    .blog-social ul ul li a {
        padding: 0
    }

    .blog-social ul li:hover > ul {
        top: -250px
    }

    .invoice-top h2 {
        font-size: 40px
    }

    .invoice-top p {
        font-size: 20px
    }

    .invoice-bg .recharge-detail {
        padding-left: 15px;
        padding-right: 15px
    }

    .recharge-detail h2 {
        font-size: 16px
    }

    .detail-list-right h5, .detail-list-tit p {
        font-size: 14px
    }

    .detail-list-tit p img {
        margin-right: 7px
    }

    .detail-list-tit {
        width: auto
    }

    .thank-sec h2, .thank-sec p {
        font-size: 24px;
        line-height: 1.5
    }

    .mail-text {
        top: 5px;
        width: 90%;
        left: 5%
    }

    .mail-text h2 {
        font-size: 16px;
        margin-bottom: 5px
    }

    .mail-text p {
        font-size: 10px;
        max-width: none;
        margin-bottom: 10px;
        line-height: 1.4
    }

    .mail-text a {
        padding: 8px 30px;
        font-size: 12px
    }

    .banner-text h2, .service h1 {
        font-size: 30px
    }

    .ser-col h2 {
        font-size: 19px
    }

    .ser-col p {
        font-size: 14px
    }

    .banner .col-sm-push-6 img {
        display: inline-block;
        width: 60%
    }

    .banner-text {
        padding-top: 50px;
        margin-bottom: 50px
    }

    .heading {
        padding-bottom: 0
    }

    .main-footer {
        position: relative;
        text-align: center;
        margin-top: 40px
    }

    .main-footer p {
        float: none;
        margin-bottom: 25px
    }

    .main-footer ul {
        float: none
    }

    .main-footer ul li {
        display: inline-block;
        float: none
    }

    .main-footer ul li a {
        font-size: 12px
    }

    .invoice-top img {
        width: 50%
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar {
        position: relative !important
    }

    .heading {
        height: auto;
        padding-top: 50px
    }

    .blog-social ul li a, .blog-social ul ul li a {
        line-height: 40px;
        width: 40px;
        height: 40px
    }

    .heading h2 {
        font-size: 35px
    }

    .manu1 img {
        margin-top: 35px
    }

    .slider-image img {
        display: inline-block;
        margin-top: 35px
    }

    a.image img {
        margin-left: 15px
    }

    .carousel-caption {
        padding-bottom: 0 !important
    }

    .image {
        margin-top: 0
    }

    .modal.in .modal-dialog {
        transform: translate(0, 0) !important
    }

    .blog-social {
        right: 10px;
        bottom: 15px
    }

    .blog-social ul ul li a {
        padding: 0
    }

    .invoice-top h2 {
        font-size: 60px
    }

    .invoice-top p {
        font-size: 30px
    }

    .detail-list-tit {
        width: 65%
    }

    .mail-text {
        top: 25px;
        width: 90%;
        left: 5%
    }

    .mail-text h2 {
        font-size: 26px;
        margin-bottom: 5px
    }

    .mail-text p {
        font-size: 14px;
        max-width: none;
        margin-bottom: 10px;
        line-height: 1.5
    }

    .mail-text a {
        padding: 10px 35px;
        font-size: 13px
    }

    .banner .col-sm-push-6 img {
        display: inline-block;
        width: 60%
    }

    .banner-text {
        padding-top: 50px;
        margin-bottom: 50px
    }

    .heading {
        padding-bottom: 0
    }

    .main-footer {
        position: relative;
        text-align: center;
        margin-top: 40px
    }

    .main-footer p {
        float: none;
        margin-bottom: 25px
    }

    .main-footer ul {
        float: none
    }

    .main-footer ul li {
        display: inline-block;
        float: none
    }

    .main-footer ul li a {
        font-size: 12px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-footer ul li, .slider-image img, ul.manu {
        display: inline-block
    }

    .navbar {
        position: relative !important
    }

    .heading {
        height: auto;
        padding-top: 50px
    }

    .navbar-brand {
        margin-bottom: 15px
    }

    .manu {
        font-size: 14px
    }

    a.login-button {
        font-size: 13px
    }

    .slider-image img {
        margin-top: 35px
    }

    .image {
        margin-top: 0
    }

    .navbar-collapse {
        padding: 0
    }

    .navbar-header {
        float: none
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        left: 50%;
        position: relative;
        transform: translateX(-50%)
    }

    .navbar-default .navbar-right {
        margin-left: 0 !important;
        float: none !important
    }

    .modal-body .col-sm-7 {
        padding: 15px 15px 0
    }

    .modal-dialog {
        width: 738px !important
    }

    .form-sec ul {
        margin-bottom: 0
    }

    .order h2 {
        font-size: 20px;
        padding-top: 10px
    }

    .order h4 {
        font-size: 16px
    }

    .order p {
        font-size: 14px
    }

    .summary1-page {
        padding: 50px 15px;
        margin-top: 43px
    }

    .summary-page {
        height: 100%
    }

    .order-head .view-button button {
        margin-left: 0 !important
    }

    .mail-text {
        top: 25px;
        width: 90%;
        left: 5%
    }

    .mail-text h2 {
        font-size: 32px;
        margin-bottom: 5px
    }

    .mail-text p {
        font-size: 18px;
        max-width: 90%;
        margin-bottom: 10px;
        line-height: 1.3
    }

    .heading {
        padding-bottom: 0
    }

    .main-footer {
        position: relative;
        text-align: center;
        margin-top: 40px
    }

    .main-footer p {
        float: none;
        margin-bottom: 25px
    }

    .main-footer ul, .main-footer ul li {
        float: none
    }

    .main-footer ul li a {
        font-size: 12px
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .main-footer p, .navbar-brand {
        margin-bottom: 15px
    }

    .main-footer ul li, ul.manu {
        display: inline-block
    }

    .text-sec h4 {
        font-size: 28px
    }

    .manu {
        font-size: 14px
    }

    .navbar-header {
        float: none
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        left: 50%;
        position: relative;
        transform: translateX(-50%)
    }

    .navbar-default .navbar-right {
        margin-left: 0 !important;
        float: none !important
    }

    .navbar-right {
        margin-right: 0 !important
    }

    .order h2 {
        font-size: 20px;
        padding-top: 10px
    }

    .order h4 {
        font-size: 16px
    }

    .order p {
        font-size: 14px
    }

    .summary1-page {
        padding: 50px 15px;
        margin-top: 75px
    }

    .summary-page {
        height: 100%
    }

    .main-footer p, .main-footer ul, .main-footer ul li {
        float: none
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    ul.manu li a {
        font-size: 14px;
        padding: 10px 12px !important
    }

    .text-sec h4 {
        font-size: 30px
    }

    .order h2 {
        font-size: 20px;
        padding-top: 10px
    }

    .order h4 {
        font-size: 16px
    }

    .order p {
        font-size: 14px
    }

    .summary1-page {
        padding: 50px 15px
    }

    .main-footer p {
        float: none;
        margin-bottom: 15px
    }

    .main-footer ul {
        float: none
    }

    .main-footer ul li {
        display: inline-block;
        float: none
    }
}

@media (min-width: 1361px) and (max-width: 1700px) {
    .heading h2 {
        margin-top: 25px;
        margin-bottom: 15px
    }

    .text-sec {
        margin-top: 30px
    }
}

.ui-datepicker{
    display:none !important;
}