<template>
<div class="sc-content clearfix">
    <div class="sc-info left clearfix">
        <div class="left sc-info-det">
            <div class="clearfix">
                <div class="left sc-info-std"><input type="text" value="+91"></div>
                <div class="left sc-info-phone"><input type="tel" placeholder="Mobile Number" maxlength="10" class="err-inp"
                        value=""></div>
                <div class="left sc-info-email"><input type="email" placeholder="Email ID" class="" value=""></div>
            </div>
        </div>
        <div class="left sc-info-txt">
            <div class="sc-info-txt-wrap">
                <div class="ty-btn new-gray">ENTER CONTACT INFO</div>
                    <div style="padding: 0px;">
                        <div style="position: relative; margin-top: 25px; padding-left: 50px;"><img src="/images/bus/info.147eb165.svg"
                                alt="Email ID">All future communications regarding this trip will be sent to the email and mobile number
                            entered above.</div>
                        <div style="position: relative; margin-top: 25px; padding-left: 50px;"><img src="/images/bus/mobile.69a18e10.svg"
                                alt="Mobile no">
                            <div class="gray">Mobile no</div>
                            <div>4412524445</div>
                        </div>
                        <div style="position: relative; margin-top: 25px; padding-left: 50px;"><img src="/images/bus/email.0b831c4c.svg"
                                alt="Email ID">
                            <div class="gray">Email ID</div>
                            <div>tuannt.bn@gmail.com</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
