<template>
<form action="pay.html" method="post">
    <ol>
        <li>
            <div class="agileits-select">
                <select class="selectpicker show-tick" data-live-search="true">
                    <option data-tokens="Select Operator">Select Operator</option>
                    <option data-tokens="Operator1">Operator1</option>
                    <option data-tokens="Operator2">Operator2</option>
                    <option data-tokens="Operator3">Operator3</option>
                    <option data-tokens="Operator4">Operator4</option>
                    <option data-tokens="Operator5">Operator5</option>
                    <option data-tokens="Operator6">Operator6</option>
                    <option data-tokens="Operator7">Operator7</option>
                </select>
            </div>
        </li>
        <li>
            <input type="text" value="Telephone Number(with STD code)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone Number(with STD code)';}"
                required="">
        </li>
        <li>
            <div class="mobile-right ">
                <h4>How Much To Pay?</h4>
                <div class="mobile-rchge">
                    <input type="text" placeholder="Enter amount" name="amount" required="required" />
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
        <li>
            <input type="submit" class="submit" value="Pay Bill" />
        </li>
    </ol>
</form>
</template>

<script>
export default {

}
</script>

<style>

</style>
