<template>
<div>
    <i class="icon fa fa-credit-card inner-icon" aria-hidden="true"></i>
    <div id="tab2" class="tab-grid">
        <div class="login-form">
            <form action="pay.html" method="post">
                <ol>
                    <li>
                        <h4>Enter your Datacard number</h4>
                        <input type="tel" id="tel" name="tel" pattern="\d{10}" placeholder="Enter Datacard Number"
                            required />
                        <p class="validation01">
                            <span class="invalid">Please enter a valid 10 digit Datacard number</span>
                            <span class="valid">That's what we wanted!</span>
                        </p>
                    </li>
                    <li>
                        <div class="agileits-select">
                            <select class="selectpicker show-tick" data-live-search="true">
                                <option data-tokens="Select Operator">Select Operator</option>
                                <option data-tokens="Operator1">Operator1</option>
                                <option data-tokens="Operator2">Operator2</option>
                                <option data-tokens="Operator3">Operator3</option>
                                <option data-tokens="Operator4">Operator4</option>
                                <option data-tokens="Operator5">Operator5</option>
                                <option data-tokens="Operator6">Operator6</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="mobile-right ">
                            <h4>How Much To Pay?</h4>
                            <div class="mobile-rchge">
                                <input type="text" placeholder="Enter amount" name="amount" required="required" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <input type="submit" class="submit" value="Recharge Now" />
                    </li>
                </ol>
            </form>

        </div>

    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
