<template>
<div class="login-form">
    <i class="icon fa fa-television inner-icon" aria-hidden="true"></i>
    <form action="pay.html" method="post">

        <ol>
            <li>
                <div class="agileits-select">
                    <select class="selectpicker show-tick" data-live-search="true">
                        <option data-tokens="Select Operator">DTH Operator</option>
                        <option data-tokens="Airtel">Airtel</option>
                        <option data-tokens="Aircel">Aircel</option>
                        <option data-tokens="BSNL">BSNL</option>
                        <option data-tokens="Tata Docomo">Tata Docomo</option>
                        <option data-tokens="Reliance GSM">Reliance GSM</option>
                        <option data-tokens="Reliance CDMA">Reliance CDMA</option>
                        <option data-tokens="Telenor">Telenor</option>
                        <option data-tokens="Jio">Jio</option>
                        <option data-tokens="Vodafone">Vodafone</option>
                        <option data-tokens="Idea">Idea</option>
                        <option data-tokens="MTS">MTS</option>
                    </select>
                </div>
            </li>
            <li>
                <input type="text" value="Enter Customer ID" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Customer ID';}"
                    required="">
            </li>
            <li>
                <div class="mobile-right ">
                    <div class="mobile-rchge">
                        <input type="text" placeholder="Enter amount" name="amount" required="required" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <input type="submit" class="submit" value="Recharge Now" />
            </li>
        </ol>
    </form>

</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
