<template>
<div>
    <i class="icon fa fa-tint inner-icon" aria-hidden="true"></i>
    <div id="tab2" class="tab-grid">
        <div class="login-form">
            <form action="pay.html" method="post">
                <ol>
                    <li>
                        <div class="agileits-select">
                            <select class="selectpicker show-tick" data-live-search="true">
                                <option data-tokens="Water Provider">Water Provider</option>
                                <option data-tokens="Provider1">Provider1</option>
                                <option data-tokens="Provider2">Provider2</option>
                                <option data-tokens="Provider3">Provider3</option>
                                <option data-tokens="Provider4">Provider4</option>
                                <option data-tokens="Provider5">Provider5</option>
                                <option data-tokens="Provider6">Provider6</option>
                                <option data-tokens="Provider7">Provider7</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <input type="text" value="Consumer Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Consumer Number';}"
                            required="">
                    </li>

                    <li>
                        <input type="submit" class="submit" value="Proceed" />
                    </li>
                </ol>
            </form>

        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
