<template>
    <modal :name="bus_modal" width="800" height="auto" :classes="['bus-modal']" @closed="closeModal" :clickToClose="false">
        <div class="bus-loading" v-if="loadingDetail">
            <half-circle-spinner
                :animation-duration="1000"
                :size="60"
                color="#ff1d5e"
                />
        </div>
    
       <div class="seatchart" v-if="!loadingDetail">
           <button class="close-modal" @click="$modal.hide(bus_modal)">close</button>
            <div class="sc-nav">
                <span :class="{active: current_tab == tabs.seat_chart}" @click="changeTab(tabs.seat_chart)" id="Chartstep1"><i></i>Seat chart</span>
                <span :class="{active: current_tab == tabs.pickup}" @click="changeTab(tabs.pickup)" id="Chartstep2"><i></i>Pickup</span>
                <span :class="{active: current_tab == tabs.dropoff}" @click="changeTab(tabs.dropoff)" id="Chartstep3"><i></i>Drop-off</span>
                <span :class="{active: current_tab == tabs.passenger}" @click="changeTab(tabs.passenger)" id="Chartstep4"><i></i>Passenger info</span>
                <span :class="{active: current_tab == tabs.your_info}" @click="changeTab(tabs.your_info)" id="Chartstep5"><i></i>Your info</span>
                <span :class="{active: current_tab == tabs.policy}" @click="changeTab(tabs.policy)" id="Chartstep7">Cancellation policy</span>
            </div>
            <component :is="current_tab"></component>
        </div>
    </modal>
</template>

<script>
import {MODAL_NAME} from '../../consts/modal'
import {BUS_TABS} from '../../consts/service'
import dropoff from './bus/dropoff'
import passenger from './bus/passenger'
import policy from './bus/policy'
import seat_chart from './bus/seat_chart'
import your_info from './bus/your_info'
import pickup from './bus/pickup'
import { mapState, mapActions, mapGetters } from 'vuex'
import { HalfCircleSpinner } from 'epic-spinners'

var components = {}
components[BUS_TABS.dropoff] = dropoff
components[BUS_TABS.passenger] = passenger
components[BUS_TABS.policy] = policy
components[BUS_TABS.seat_chart] = seat_chart
components[BUS_TABS.your_info] = your_info
components[BUS_TABS.pickup] = pickup
components['half-circle-spinner'] = HalfCircleSpinner


export default {
    components: components,

    data() {
        return {
            current_tab: BUS_TABS.pickup,
            seats: {
                lower: [],
                upper: []
            }
        }
    },

    mounted() {
    
    },

    computed: {
        ...mapState({
            loadingDetail: state => state.BusTicket.loadingDetail
        }),
        
        bus_modal: () => MODAL_NAME.bus_modal,
        tabs: () => BUS_TABS
    },

    methods: {
        ...mapActions('BusTicket', [
            'changeLoading'
        ]), 

        changeTab(tab) {
            this.current_tab = tab
        },

        closeModal() {
            this.changeLoading(false)
        }
    }
}
</script>

<style>

</style>
