<div class="m-stack__item m-stack__item--fluid">
    <div class="m-login__wrapper" style="padding: 10% 2rem 2rem 2rem;">
        <div class="m-login__logo">
            <a href="#">
                <img src="/vendors/theme/assets/app/media/img/logos/fusedsoftware-logo.png">
            </a>
        </div>
        <div class="m-login__signin">
            <div class="m-login__head">
                <h3 class="m-login__title">
                    Request New Activation Code
                </h3>
            </div>
            <div class="m-login__form m-form">

                <div class="form-group m-form__group">
                    <input class="form-control m-input" type="text" placeholder="Email" ng-model="email">
                </div>
                
                <div class="m-login__form-action">
                    <button ng-click="requestActivation()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                        Submit
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

