
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title ">
				Dashboard
			</h3>
		</div>
		<!-- <account-selection callback="loadAccount()"></account-selection> -->
	</div>
</div>

<!-- END: Subheader -->
<div class="m-content">

	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--success m-tabs-line--2x" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#summary" role="tab">
							<i class="la la-cog"></i>
							Summary
						</a>
					</li>

					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_1" role="tab">
							<i class="la la-cog"></i>
							Synced Order List
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
							<i class="la la-briefcase"></i>
							Synced Contacts
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body" style="min-height: 200px;">
			<div class="tab-content">
				<div class="tab-pane active" id="summary" role="tabpanel">

					<!--begin::Table-->
					<table class="table table-bordered table-condensed" ng-show="!isLoading">
						<!--begin::Thead-->
						<thead>
							<tr style="text-align: center;">
								<td class="m-widget11__app">
									
								</td>
								<td class="m-widget11__sales">
									Today
								</td>
								<td class="m-widget11__price">
									Last 7 Days
								</td>
								<td class="m-widget11__total m--align-right">
									Last 30 Days
								</td>
								<td class="m-widget11__total m--align-right">
									All Time
								</td>
							</tr>
						</thead>
						<!--end::Thead-->
						<!--begin::Tbody-->
						<tbody>
							<tr>
								<td>
									<span class="m-widget11__title">
										Contacts Collected
									</span>
									<span class="m-widget11__sub">
										Total Number
									</span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.contacts_collected.today %></span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.contacts_collected.last_seven_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.contacts_collected.last_thirty_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.contacts_collected.all_time %></span>
								</td>
							</tr>

							<tr>
								<td>
									<span class="m-widget11__title">
										Xero Orders Found
									</span>
									<span class="m-widget11__sub">
										Total Number
									</span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.xero_orders_found.today %></span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.xero_orders_found.last_seven_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.xero_orders_found.last_thirty_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.xero_orders_found.all_time %></span>
								</td>
							</tr>

							<tr>
								<td>
									<span class="m-widget11__title">
										Xero Orders Synced
									</span>
									<span class="m-widget11__sub">
										Total Value
									</span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.xero_orders_synced.today %></span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.xero_orders_synced.last_seven_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.xero_orders_synced.last_thirty_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.xero_orders_synced.all_time %></span>
								</td>
							</tr>

							<tr>
								<td>
									<span class="m-widget11__title">
										Orders Skipped (No Matching Contact)
									</span>
									<span class="m-widget11__sub">
										Total Number
									</span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.orders_skipped_no_matching_contact.today %></span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.orders_skipped_no_matching_contact.last_seven_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.orders_skipped_no_matching_contact.last_thirty_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.orders_skipped_no_matching_contact.all_time %></span>
								</td>
							</tr>


							<tr>
								<td>
									<span class="m-widget11__title">
										Orders Skipped (Over Plan Limit)
									</span>
									<span class="m-widget11__sub">
										Total Number
									</span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.orders_skipped_over_plan_limit.today %></span>
								</td>
								<td class="m--align-right ">
									<span class="m--font-accent"><% summary.orders_skipped_over_plan_limit.last_seven_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.orders_skipped_over_plan_limit.last_thirty_days %></span>
								</td>
								<td class="m--align-right">
									<span class="m--font-accent"><% summary.orders_skipped_over_plan_limit.all_time %></span>
								</td>
							</tr>
						</tbody>
						<!--end::Tbody-->
					</table>
					<!--end::Table-->

				</div>
				<div class="tab-pane" id="m_tabs_6_1" role="tabpanel">
					
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-4">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label>
													Status:
												</label>
											</div>
											<div class="m-form__control">
												<select class="form-control m-bootstrap-select m-bootstrap-select--solid" id="ProcessedStatus">
													<option value="">
														All
													</option>
													<option value="1">
														To Be Synced
													</option>
													<option value="2">
														Completed
													</option>
													<option value="3">
														Unmatched
													</option>
												</select>
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 order-1 order-xl-2 m--align-right">
								<div class="m-input-icon m-input-icon--left">
									<input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
									<span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
								</div>
								<div class="m-separator m-separator--dashed d-xl-none"></div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->

					<div id="load_sync_orders"></div>

				</div>
				<div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
					

					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								
							</div>
							<div class="col-xl-4 order-1 order-xl-2 m--align-right">
								<div class="m-input-icon m-input-icon--left">
									<input type="text" class="form-control m-input m-input--solid" placeholder="Search by email..." id="emailSearch">
									<span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
								</div>
								<div class="m-separator m-separator--dashed d-xl-none"></div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->

					<div id="load_sync_contacts"></div>

				</div>
			</div>
		</div>
	</div>


</div>

