<template>
<div id="tab2" class="tab-grid">
    <div class="login-form">
        <form action="pay.html" method="post" >
            <ol>
                <li>
                    <h4>Enter your mobile number</h4>
                    <input type="tel" id="tel" name="tel" pattern="\d{10}" placeholder="Enter Mobile Number" required />
                    <p class="validation01">
                        <span class="invalid">Please enter a valid mobile number</span>
                        <span class="valid">That's what we wanted!</span>
                    </p>
                </li>
                <li>
                    <div class="agileits-select">
                        <select class="selectpicker show-tick" data-live-search="true">
                            <option data-tokens="Select Operator">Select Operator</option>
                            <option data-tokens="Airtel">Airtel</option>
                            <option data-tokens="Aircel">Aircel</option>
                            <option data-tokens="BSNL">BSNL</option>
                            <option data-tokens="Tata Docomo">Tata Docomo</option>
                            <option data-tokens="Reliance GSM">Reliance GSM</option>
                            <option data-tokens="Reliance CDMA">Reliance CDMA</option>
                            <option data-tokens="Telenor">Telenor</option>
                            <option data-tokens="Jio">Jio</option>
                            <option data-tokens="Vodafone">Vodafone</option>
                            <option data-tokens="Idea">Idea</option>
                            <option data-tokens="MTS">MTS</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="agileits-select">
                        <select class="selectpicker show-tick" data-live-search="true" required="required">
                            <option data-tokens="Select Circle">Select Circle</option>
                            <option data-tokens="Chennai">Chennai</option>
                            <option data-tokens="Delhi NCR">Delhi NCR</option>
                            <option data-tokens="Kolkata">Kolkata</option>
                            <option data-tokens="Mumbai">Mumbai</option>
                            <option data-tokens="Maharashtra & Goa">Maharashtra & Goa</option>
                            <option data-tokens="Assam">Assam</option>
                            <option data-tokens="Bihar & Jharkhand">Bihar & Jharkhand</option>
                            <option data-tokens="Gujarat">Gujarat</option>
                            <option data-tokens="Haryana">Haryana</option>
                            <option data-tokens="Himachal Pradesh">Himachal Pradesh</option>
                            <option data-tokens="Jummu & Kashmir">Jummu & Kashmir</option>
                            <option data-tokens="Karnataka">Karnataka</option>
                            <option data-tokens="Kerala">Kerala</option>
                            <option data-tokens="Andhra Pradesh">Andhra Pradesh</option>
                            <option data-tokens="MP & Chattisgarh">MP & Chattisgarh</option>
                            <option data-tokens="North East">North East</option>
                            <option data-tokens="Orissa">Orissa</option>
                            <option data-tokens="Punjab">Punjab</option>
                            <option data-tokens="Rajasthan">Rajasthan</option>
                            <option data-tokens="Tamilnadu">Tamilnadu</option>
                            <option data-tokens="UP East">UP East</option>
                            <option data-tokens="UP West & Utterkhand">UP West &
                                Utterkhand</option>
                            <option data-tokens="West Bengal">West Bengal</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="mobile-right ">
                        <h4>How Much To Pay?</h4>
                        <div class="mobile-rchge">
                            <input type="text" placeholder="Enter amount" name="amount" required="required" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li>
                    <input type="submit" class="submit" value="Pay bill" />
                </li>
            </ol>
        </form>

    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
