<div class="modal-header">
    <h5 class="modal-title">
        Add New Plan
    </h5>

    <div class="btn-group pull-right">
        <button type="button" class="btn-condensed btn btn-sm btn-default" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">
                <i class="la la-times-circle-o"></i>
            </span>
        </button>
    </div>
    
</div>
<div class="modal-body add-new-plan-modal" style="min-height: 120px;">

    <form class="m-form m-form--group-seperator-dashed">
        
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <label>Items/Services</label>
                <select class="form-control m-bootstrap-select m_selectpicker" data-live-search="true" select-picker obj="items" ng-model="plan.item_id">
                    <option ng-repeat="item in items" ng-value="item.id">
                        <% item.name %>
                    </option>
                </select>
            </div>
            <div class="col-lg-6">
                <label>Plan Name</label>
                <input type="text" class="form-control m-input m-input--air" ng-model="plan.name" placeholder="Enter Plan Name">
            </div>
        </div>

        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <div class="form-group m-form__group">
                    <label>Plan Slug Name</label>
                    <input type="text" class="form-control m-input m-input--air" ng-model="plan.slug" placeholder="Enter Plan Slug Name">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group m-form__group">
                    <label>Amount</label>
                    <input type="text" class="form-control m-input m-input--air" ng-model="plan.amount" ng-currency currency-symbol="$ " placeholder="Enter Amount">
                </div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <div class="form-group m-form__group">
                    <label>Interval</label>
                    <select class="form-control m-bootstrap-select m_selectpicker" data-live-search="true" select-picker obj="plan.interval" ng-model="plan.interval">
                        <option ng-value="day">Day</option>
                        <option ng-value="week">Week</option>
                        <option ng-value="month">Month</option>
                        <option ng-value="year">Year</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
        
    </form>
     

    

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()" ng-if="isLoaded">
        Close
    </button>
    <button  ng-if="isLoaded" type="button" ng-click="addPlan()" class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent"><span class="la la-plus"></span> Add</button>
</div>

