<div class="modal-header">
    <h5 class="modal-title">
        Edit Item
    </h5>

    <div class="btn-group pull-right">
        <button type="button" class="btn-condensed btn btn-sm btn-default" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">
                <i class="la la-times-circle-o"></i>
            </span>
        </button>
    </div>
    
</div>
<div class="modal-body add-new-item-modal" style="min-height: 120px;">

	<div class="form-group m-form__group">
		<label>Name</label>
		<input type="text" class="form-control m-input m-input--air" ng-model="item.name" placeholder="Enter Service Name">
	</div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()" ng-if="isLoaded">
        Close
    </button>
    <button  ng-if="isLoaded" type="button" ng-click="updateItem()" class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent"><span class="la la-save"></span> Save</button>
</div>

