<div class="modal-header">
    <h5 class="modal-title">
        List of Items
    </h5>

    <div class="btn-group pull-right">
        <button type="button" class="btn-condensed btn btn-sm btn-primary" ng-click="addNewItem()">
            <i class="la la-plus"></i>
            Add New Item
        </button>
        <button type="button" class="btn-condensed btn btn-sm btn-default" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">
                <i class="la la-times-circle-o"></i>
            </span>
        </button>
    </div>
    
</div>
<div class="modal-body list-of-items-modal" style="min-height: 120px;">

        <div class="zui-wrapper">
            <div class="zui-scroller">
                <table class="table table-bordered table-striped table-condensed ">
                    <thead>
                        <tr>
                            <th class="zui-sticky-col">ID</th> 
                            <th>Stripe Item ID</th> 
                            <th>Name</th> 
                            <th>Type</th> 
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="pagination.items.objects.length <= 0 && isLoaded">
                            <td colspan="5" align="center">No Results Found.</td>
                        </tr>
                        <tr ng-repeat="obj in pagination.items.objects">
                            <td class="zui-sticky-col"><% obj.id %></td>
                            <td><% obj.stripe_product_id %></td>
                            <td><% obj.name %></td>
                            <td><% obj.type %></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn-condensed btn btn-sm btn-default" ng-click="editItem(obj.id)">
                                        <i class="la la-file-text-o"></i>
                                    </button>
                                    <button type="button" class="btn-condensed btn btn-sm btn-default" ng-click="deleteItem(obj.id)">
                                        <i class="la la-trash-o"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div style="position: relative; height: 30px; margin-bottom: 30px;" class="dataTables_wrapper">
                    <div class="dataTables_pager">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul uib-pagination ng-change="pageChanged()" total-items="pagination.items.totalItems" ng-model="pagination.items.currentPage" max-size="pagination.items.maxSize" items-per-page="pagination.items.itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()" ng-if="isLoaded">
        Close
    </button>
</div>
