<div class="m-portlet m-portlet--head-overlay m-portlet--full-height m-portlet--rounded-force" id="stripe-integration">
	<div class="m-portlet__head m-portlet__head--fit">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text m--font-light">
					Stripe Integration
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body" ng-show="!isLoading">
		<div class="m-widget28" ng-if="has_keys && !show_form">
			<div class="m-widget28__pic m-portlet-fit--sides" style="min-height: 200px;"></div>
			<div class="m-widget28__container">
				<!-- begin::Nav pills -->
				<ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">
					<li class="m-widget28__nav-item nav-item">
						<a class="nav-link" href="#" ng-click="reauth()">
							<span>
								<i class="fa flaticon-pie-chart"></i>
							</span>
							<span>
								Re-Authenticate
							</span>
						</a>
					</li>
					<li class="m-widget28__nav-item nav-item">
						<a class="nav-link"  href="#" ng-click="updateKeys()">
							<span>
								<i class="fa flaticon-file-1"></i>
							</span>
							<span>
								Update Key
							</span>
						</a>
					</li>
				</ul>
				<!-- end::Nav pills --> 
				<!-- begin::Tab Content -->
				<div class="m-widget28__tab tab-content">
					<div id="menu11" class="m-widget28__tab-container tab-pane active">
						<div class="m-widget28__tab-items">
							<div class="m-widget28__tab-item">
								<span>
									STRIPE_KEY
								</span>
								<span style="word-break: break-all;">
									<% stripe.stripe_key %>
								</span>
							</div>
							<div class="m-widget28__tab-item">
								<span>
									STRIPE_SECRET
								</span>
								<span style="word-break: break-all;">
									<% stripe.stripe_secret %>
								</span>
							</div>
						</div>
					</div>
				</div>
				<!-- end::Tab Content -->
			</div>
		</div>
		
		<div class="m-widget28" ng-if="!has_keys && !show_form">
			<div class="m-widget28__pic m-portlet-fit--sides" style="min-height: 70px;"></div>
			<div class="m-widget28__container" style="margin-top: 30px;text-align: center;">

				<div class="alert alert-warning">
					<p>Stripe Integration is need to be setup to use it on User's Billing</p>
				</div>
				<!-- begin::Tab Content -->
				<div class="m-widget28__tab tab-content">
					<div id="menu11" class="m-widget28__tab-container tab-pane active">
						<div class="m-widget28__tab-items">
							<div class="m-widget28__tab-item">
								<span>
									Add your Stripe Key and Stripe Secret
								</span>
							</div>
							<div class="m-widget28__tab-item">
								<div class="form-group m-form__group">
									<input type="text" class="form-control m-input m-input--air" ng-model="stripe.stripe_key" placeholder="Enter Stripe Key">
								</div>
							</div>
							<div class="m-widget28__tab-item">
								<div class="form-group m-form__group">
									<input type="text" class="form-control m-input m-input--air" ng-model="stripe.stripe_secret" placeholder="Enter Stripe Secret">
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<!-- end::Tab Content -->

				<button type="button" ng-click="integrateStripe()" class="btn m-btn--pill m-btn m-btn--gradient-from-success m-btn--gradient-to-accent"><span class="flaticon-lock-1"></span> Integrate</button>
			</div>
		</div>

		<div class="m-widget28" ng-if="show_form">
			<div class="m-widget28__pic m-portlet-fit--sides" style="min-height: 70px;"></div>
			<div class="m-widget28__container" style="margin-top: 30px;text-align: center;">

				<div class="alert alert-warning">
					<p>Stripe Integration is need to be setup to use it on User's Billing</p>
				</div>
				<!-- begin::Tab Content -->
				<div class="m-widget28__tab tab-content">
					<div id="menu11" class="m-widget28__tab-container tab-pane active">
						<div class="m-widget28__tab-items">
							<div class="m-widget28__tab-item">
								<span>
									Update your Stripe Key and Stripe Secret
								</span>
							</div>
							<div class="m-widget28__tab-item">
								<div class="form-group m-form__group">
									<input type="text" class="form-control m-input m-input--air" ng-model="stripe.stripe_key" placeholder="Enter Stripe Key">
								</div>
							</div>
							<div class="m-widget28__tab-item">
								<div class="form-group m-form__group">
									<input type="text" class="form-control m-input m-input--air" ng-model="stripe.stripe_secret" placeholder="Enter Stripe Secret">
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<!-- end::Tab Content -->

				<button type="button" ng-click="integrateStripe()" class="btn m-btn--pill m-btn m-btn--gradient-from-success m-btn--gradient-to-accent"><span class="flaticon-lock-1"></span> Save Keys</button>
			</div>
		</div>

	</div>
</div>